- provide(:title, "Contact")
%h1.text-center.title Contact
.row.text-center
  %h4 連絡先
  %h4
    Twitter: @replica531
    %a{:href => "https://twitter.com/replica531"}
      %i.bi.bi-twitter.text-info.hover
