- provide(:title, "Contact")
%h1.text-center.title Contact
.row.text-center
  %p 要望,質問,その他こちらまで
  %h3
    Twitter: @replica531
    %a{:href => "https://twitter.com/replica531"}
      %i.bi.bi-twitter.text-info.hover
  %h3
    Email: karaokegraph@gmail.com
