- provide(:title, "Help")
- breadcrumb :help
%h5= breadcrumbs separator: " &rsaquo; "
%h1.text-center.title Help
.container.text-center.mt-4
  .row.text-left.d-inline-block
    %h4 Q. これは何を目的としたアプリですか？
    %h4 A. カラオケで何を歌うか迷ったときに活用してもらうことを目的としています。
    %h4 Q. お金はかかりますか？
    %h4 A. 全て無料でお使いいただけます。
    %h4 Q. アカウント有効化メールが届きません。
    %h4 A. 迷惑メールフォルダに振り分けられている可能性があります。お手数ですがご確認ください。
    %h4 Q. 退会したい時はどうしたらいいですか？
    %h4 A. 右上の[アカウント]->[設定]から退会ボタンのあるページに移動することができます。


