- provide(:title, "Help")
%h1.text-center.title Help
.container.text-center.mt-5
  .row.text-left.d-inline-block
    %h4 Q. これは何を目的としたアプリですか？
    %h4 A. カラオケで何を歌うか迷ったときに活用してもらうことを目的としています。
    %h4 Q. 退会したい時はどうしたらいいですか？
    %h4 A. 右上の[アカウント]->[設定]から退会ボタンのあるページに移動することができます。

