- provide(:title, "Home")
%h1.text-center.home-title Karaoke Graph
.row.text-center
  %h2.mb-3.home-sub_title カラオケ歌唱記録Webサービス
.container.bg-danger.round-sm
  .row
    .col-md-4.px-5
      %mb-3.text-white.text-center
        %i.bi.bi-music-note-list.big-icon.d-block.mx-auto
        %h3 カラオケ歌唱記録を管理
      %p.text-white
        カラオケ歌唱記録を管理することができます。
        得点やキー、メモなどを記録することができます。
    .col-md-4.px-5
      %mb-3.text-white.text-center
        %i.bi.bi-graph-up.big-icon.d-block.mx-auto
        %h3 カラオケ歌唱記録をグラフ化
      %p.text-white
        カラオケ歌唱記録をグラフ化することができます。
        自分の成長をグラフで確認することができます。
    .col-md-4.px-5
      %mb-3.text-white.text-center
        %i.bi.bi-people-fill.big-icon.d-block.mx-auto
        %h3 お気に入り曲を登録
      %p.text-white
        お気に入り曲を登録することができます。
        お気に入りの曲のみを一覧で確認することもできます。

- if logged_in?
  .row
    = button_to user_musics_path(@current_user), method: :get, class: 'btn btn-lg btn-dark w-100 home-lg-btn mt-3' do
      %i.bi.bi-music-note-list
      登録曲一覧
