- provide(:title, "Home")
%h1.text-center Karaoke Graph
.row.text-center
  %p カラオケ歌唱記録Webサービス(制作中)
  = image_tag 'graph.jpeg'
  %h4.text-center.mt-3 こういうグラフを表示するよ！
  %br
  %p.text-danger 制作中なので登録したことによる不利益には責任を持ちません。
