- provide(:title, "Home")
%h1.text-center.home-title Karaoke Graph
.row.text-center
  %h2.mb-3.home-sub_title カラオケ歌唱記録Webサービス(β版)
  = image_tag 'graph.jpg'
%h4.text-center.mt-3 これまでの歌唱記録を記録してグラフや一覧で閲覧可能
- if logged_in?
  .row
    = button_to user_musics_path(@current_user), method: :get, class: 'btn btn-lg btn-primary w-100 home-lg-btn' do
      %i.bi.bi-music-note-list
      登録曲一覧

