%p パスワードを再設定するためには下記のリンクをクリックしてください。
= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token, |
  email: @user.email)                                                  |
%p このリンクは２時間で無効化されます。
%p
  もしパスワード再設定に心当たりがない場合、このメールは無視してください。パスワードは変更されないままとなります。
