- provide(:title, @user.name)
- breadcrumb :user, @user
= breadcrumbs separator: " &rsaquo; "
%p#notice= notice
%h1.text-center #{@user.name}のプロフィール

.row
  = button_to user_musics_path(@user), method: :get, class: 'btn btn-lg btn-primary w-100 home-lg-btn' do
    %i.bi.bi-chat-left-quote
    登録曲一覧
