@import "bootstrap-sprockets";
@import "bootstrap";

$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($pc)) and (min-width: ($sp)){
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

/* universal */

a:hover:not(.btn) {
  background-color: transparent!important;
}

body {
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;
  box-sizing: border-box;
  background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
  background-color: mediumspringgreen;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
}

.title {
  text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow: 
		0 0 0.10em #2962FF,
		0 0 0.15em #2962FF,
		0 0 0.80em #2962FF,
		0 0 1.00em #2962FF;
}

.hover:hover {
  display: inline-block;
  transform: scale(1.1);
  transition : .3s;
}

.alert {
  color:#262626;
  background:#ea7260;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
}

/* home */

.home-title {
  font-size:4em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow: 
		0 0 0.05em #F06292,
		0 0 0.10em #F06292,
		0 0 0.15em #F06292,
		0 0 0.30em #F06292;
	filter: saturate(80%);
}

.home-sub_title {
  text-align:center;
	line-height:0.95em;
	font-weight:bold;
	text-shadow:
		0 0.03em 0.03em #FFAB91,
		0 0.03em 0.03em #000,
		0 0.03em 0.03em #FBE9E7;
}

// /* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

// h2 {
//   font-size: 1.2em;
//   letter-spacing: -1px;
//   margin-bottom: 30px;
//   text-align: center;
//   font-weight: normal;
//   color: #777;
// }

// p {
//   font-size: 1.1em;
//   line-height: 1.7em;
// }

// /* header */

header {
  ul {
    margin: 0 0 0 auto;
  }
  @include sp {
    ul {
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  color: #FFF;
	text-shadow: 
		0 0 0.05em #F06292,
		0 0 0.10em #F06292,
		0 0 0.15em #F06292,
		0 0 0.30em #F06292;
	filter: saturate(80%);
  &:hover {
    display: inline-block;
    transform: scale(1.05);
    text-decoration: none;
    background-color: transparent;
  }
  @include sp {
    margin: 0 auto;
    font-size: 2.7em;
  }
}

/* footer */

footer {
  margin-top: 45px;
  border-top: 1px solid gray;
  color: gray;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  left: 0;
  width: 100%;
  height: 30px;
  .ul{
    @include sp {
      margin:auto;
    }
  }
}

// /* miscellaneous */

// .debug_dump {
//   clear: both;
//   float: left;
//   width: 100%;
//   margin-top: 45px;
//   @include box_sizing;
// }

// /* forms */

// input, textarea, select, .uneditable-input {
//   border: 1px solid #bbb;
//   width: 100%;
//   margin-bottom: 15px;
//   @include box_sizing;
// }

// input {
//   height: auto !important;
// }

// #error_explanation {
//   color: red;
//   ul {
//     color: red;
//     margin: 0 0 30px 0;
//   }
// }

// .checkbox {
//   margin-top: -10px;
//   margin-bottom: 10px;
//   span {
//     margin-left: 20px;
//     font-weight: normal;
//   }
// }

// #session_remember_me {
//   width: auto;
//   margin-left: 0;
// }
