%footer.footer
  %nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    %ul.navbar-nav.ms-auto
      %li.nav-item
        = link_to help_path, class: 'nav-link text-white' do
          Help
      %li.nav-item
        = link_to about_path, class: 'nav-link text-white' do
          About
      %li.nav-item
        = link_to contact_path, class: 'nav-link text-white' do
          Contact
