%header
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container-fluid
      %a.navbar-brand#logo{:href => root_path} Karaoke Graph
      %button.navbar-toggler{"aria-controls" => "navbarNavDarkDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavDarkDropdown", "data-bs-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNavDarkDropdown.collapse.navbar-collapse
        %ul.navbar-nav.mx-auto.me-md-0
          - if logged_in?
            %li.nav-item.dropdown
              %a#navbarDarkDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                アカウント
              %ul.dropdown-menu.dropdown-menu-dark{"aria-labelledby" => "navbarDarkDropdownMenuLink"}
                %li
                  %a.dropdown-item{:href => user_path(current_user)}
                    %h5.text-center プロフィール
                %li
                  %a.dropdown-item{:href => edit_user_path(current_user)}
                    %h5.text-center 設定
                %li.dropdown-divider
                %li.dropdown-item.text-danger
                  %a.dropdown-item{:href => logout_path, "data-method" => "delete"}
                    %h5.text-center ログアウト
          - else
            %li.nav-item
              .btn.btn-lg= link_to '登録', signup_path, class: 'nav-link text-white'
            %li.nav-item
              .btn.btn-lg= link_to 'ログイン', login_path, class: 'nav-link text-white'
