%header
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.shadow
    .container-fluid
      %a.navbar-brand#logo{:href => root_path}
        %i.bi.bi-tune-note
        Karaoke Graph
        %i.bi.bi-tune-note
      %button.navbar-toggler{"aria-controls" => "navbarNavLightDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavLightDropdown", "data-bs-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNavLightDropdown.collapse.navbar-collapse
        %ul.navbar-nav.mx-auto.me-md-3
          - if logged_in?
            %li.nav-item.dropdown
              %a#navbarLightDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                %i.bi.bi-person-circle
                アカウント
              %ul.dropdown-menu.dropdown-menu-light{"aria-labelledby" => "navbarLightDropdownMenuLink"}
                %li.mt-3
                  %a.dropdown-item{:href => user_path(current_user)}
                    %h5.text-center.text-dark プロフィール
                %li.mt-3
                  %a.dropdown-item{:href => edit_user_path(current_user)}
                    %h5.text-center
                      %i.bi.bi-gear-fill
                      設定
                %li.dropdown-divider
                %li.dropdown-item
                  %a.dropdown-item{:href => logout_path, "data-method" => "delete"}
                    %h5.text-center
                      %i.bi.bi-box-arrow-left
                      ログアウト
          - else
            %li.nav-item
              .btn.btn-lg= link_to '登録', signup_path, class: 'nav-link'
            %li.nav-item
              .btn.btn-lg= link_to 'ログイン', login_path, class: 'nav-link'
